<p id="notice"><%= notice %></p>

<h3><%=t('.title')%></h3>

<form class="form-control me-2" action="/people" method="GET">
  Búsqueda por nombre o apellido:
  <input type="text" name="filter" value="" />
  <input class="btn btn-sm btn-outline-success" type="submit"/>
</form><br>

<form class="form-control me-2" method="GET" action="/people" >
  <select name="gender">
    <option value="">Seleccione el sexo</option>
    <option value="1">Masculino</option>
    <option value="2">Femenino</option>
  </select>
  <input class="btn btn-sm btn-outline-success" type="submit"/>
  <select name="department_id">
    <option value="">Seleccione departamento</option>
    <%= Department.all.each do | d | %>
    <option value="<%= d.id %>"> <%= d.name %> </option>
    <% end %>
    </select>
    <input class="btn btn-sm btn-outline-success" type="submit"/>
</form><br>

<%# ES LO MISMO LO QUE HIZO EL PROFE Y LO QUE HICE YO %>

<!-- <form class="form-control me-2" method="GET" action="/people">
  Departamento: <select name="department_id">
    <%#= Department.all.each do | d | %>
    <option value="<%#= d.id %>"> <%#= d.name %> </option>
    <%# end %>
    <input class="btn btn-outline-success" type="submit"/>
    </select>
</form><br> -->

<table class='table table-hover'>
  <thead class="table-primary">
    <tr>
      <th><%=t('activerecord.attributes.person.first_name')%></th>
      <th><%=t('activerecord.attributes.person.last_name')%></th>
      <th><%=t('activerecord.attributes.person.document_number')%></th>
      <th><%=t('activerecord.attributes.person.gender')%></th>
      <th><%=t('activerecord.attributes.person.birth_date')%></th>
      <th><%=t('activerecord.attributes.person.age')%></th>
      <th><%=t('activerecord.attributes.person.department_id')%></th>
      <th><%=t('activerecord.attributes.person.task_id')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.document_number %></td>
        <td><%= person.genero %></td>
        <td><%= person.birth_date %></td>
        <td><%= person.age %></td>
        <td><%= person.department.name %></td>
        <td>
          <% if person.tasks.count == 0 %>
            <%= person.tasks.count %>
          <% else %>
            <%= link_to person.tasks.count, tasks_path(:person_id => person.id) %>
          <% end %>
        </td>
        <td><%= link_to t('g.show'), person, class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to t('g.edit'), edit_person_path(person), class:'btn btn-sm btn-secondary' %></td>
        <td><%= link_to t('g.destroy'), person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class: 'btn btn-sm btn-success' %>
